@import '../../bower_components/d2l-link/d2l-link.scss';

/* these are still referenced by a few UMD FRAs */

.vui-link {
	@include d2l-link();
}

.vui-link-main {
	@include d2l-link();
	font-weight: 700;
}
