@import '../bower_components/d2l-button/d2l-button.scss';
@import 'common.scss';

.d2l-button {
	@include d2l-button();
	margin-right: $d2l-button-spacing;
}
[dir='rtl'] .d2l-button {
	margin-left: $d2l-button-spacing;
	margin-right: 0;
}

.d2l-button-spacing {
	margin-right: $d2l-button-spacing;
}
[dir='rtl'] .d2l-button-spacing {
	margin-left: $d2l-button-spacing;
	margin-right: 0;
}

.d2l-button.d2l-htmleditor-component-toggle {
	margin-right: 0;
}
[dir='rtl'] .d2l-button.d2l-htmleditor-component-toggle {
	margin-left: 0;
}

.dlay_r > .d2l-button {
	margin-left: $d2l-button-spacing;
	margin-right: 0;
}
[dir='rtl'] .dlay_r > .d2l-button {
	margin-right: $d2l-button-spacing;
	margin-left: 0;
}
