@import '../bower_components/d2l-colors/d2l-colors.scss';
@import '../bower_components/d2l-button/d2l-button.scss';
@import 'common.scss';

.bsi-button-menu > span {
	@include vui-dropdown-button-menu-content;
}

.bsi-button-menu.bsi-button-menu-primary > span {
	@include vui-dropdown-button-menu-primary-content;
}

.bsi-button-menu {
	border-width: 1px;
	border-style: solid;
	border-radius: 0.3rem;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 0.7rem;
	font-weight: 700;
	letter-spacing: 0.02rem;
	line-height: 1rem;
	margin: 0 $d2l-button-spacing 0 0;
	min-height: calc(2rem + 2px);
	outline: none;
	padding: 0.5rem 1.5rem;
	text-align: center;
	transition: box-shadow 0.2s;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;
	@include _d2l-button-clear-focus();
}
[dir='rtl'] .bsi-button-menu {
	margin-left: $d2l-button-spacing;
	margin-right: 0;
}

.bsi-button-menu,
.bsi-button-menu:hover,
.bsi-button-menu:focus,
.bsi-button-menu:visited,
.bsi-button-menu:link,
.bsi-button-menu.vui-disabled:hover,
.bsi-button-menu.vui-disabled:focus {
	background-color: $d2l-color-woolonardo;
	border-color: $d2l-color-titanius;
	color: $d2l-color-ferrite;
}

.bsi-button-menu:hover {
	background-color: $d2l-color-gypsum;
}
.bsi-button-menu:not(.vui-disabled):not(.bsi-button-menu-primary):focus {
	@include _d2l-button-focus();
}

.bsi-button-menu.vui-disabled {
	opacity: 0.5;
	cursor: default;
}

.bsi-button-menu.bsi-button-menu-primary,
.bsi-button-menu.bsi-button-menu-primary.vui-disabled:hover,
.bsi-button-menu.bsi-button-menu-primary.vui-disabled:focus {
	background-color: $d2l-color-celestine;
	border-color: $d2l-color-celestuba;
	color: $d2l-color-white;
}

.bsi-button-menu.bsi-button-menu-primary:hover {
	background-color: $d2l-color-celestuba;
}
.bsi-button-menu.bsi-button-menu-primary:not(.vui-disabled):focus {
	@include _d2l-button-primary-focus();
}
