@import 'bower_components/vui-input/checkbox-radio.scss';

.d2l-checkbox-container {
	@include _vui-input-checkbox-radio-label(
		"checkbox",
		6px
	);
}
.d2l-radio-inline {
	@include _vui-input-checkbox-radio-label("radio");
}

.d2l-checkbox-container + .d2l-checkbox-container,
.d2l-radio-inline + .d2l-radio-inline {
	margin-left: 10px;
}
[dir='rtl'] .d2l-checkbox-container + .d2l-checkbox-container,
[dir='rtl'] .d2l-radio-inline + .d2l-radio-inline {
	margin-left: 0;
	margin-right: 10px;
}

.d2l-checkbox-container.d2l-checkbox-disabled,
.d2l-radio-inline.d2l-radio-disabled,
.d_rdo_d {
	color: #A0A0A0;
	cursor: default;
}
