.d2l-contextmenu {
	background-color: #FFFFFF;
	display:inline-block;
	font-weight: normal;
	line-height: 1em;
	list-style: none;
	list-style-position: outside;
	margin: 0;
	padding: 1px;
	text-align: left;
	width: 17em;
}

.d2l-contextmenu-item {
	margin-bottom: 1px; 
	padding-right: 2px;
}

.d2l-contextmenu-item-hover {
	background: #f8fbff; /* Old browsers */
	background: linear-gradient(to bottom,  #f8fbff 0%,#d7e2f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fbff', endColorstr='#d7e2f4',GradientType=0 ); /* IE6-9 */
}

.d2l-contextmenu-separator { 
	border-top: 1px solid #CCCCCC;
	margin: 2px 0;
}

.d2l-contextmenu-item-disabled a {
	color: #999999 !important;
}

.d2l-contextmenu-item a {
	background-repeat: no-repeat;
	background-position: 4px 4px;
	display: inline-block;
	min-height: 20px;
	padding: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 100%;
}

.d2l-contextmenu-item a span {
	display:inline-block;
	padding-top: 2px;
	padding-left: 26px;
}

.d2l-contextmenu-item-hover a, .d2l-contextmenu-item-disabled-hover a {
	background-position: 3px 3px;
	border: 1px solid #98b5e2;
	border-radius: 3px;
	cursor: default !important;
	padding: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.d2l-contextmenu-item-disabled-hover {
	background: #fdfdfd; /* Old browsers */
	background: linear-gradient(to bottom,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.d2l-contextmenu-item-disabled-hover a {
	border-color: #cccccc;
}

[dir='rtl'] .d2l-contextmenu {
	text-align: right;
	background-position: right 0px;
}

[dir='rtl'] .d2l-contextmenu-item a {
	background-position: right 4px;
}

[dir='rtl'] .d2l-contextmenu-item-hover a, 
[dir='rtl'] .d2l-contextmenu-item-disabled-hover a {
	background-position: right 3px;
	margin-right: -1px;
}

[dir='rtl'] .d2l-contextmenu-item-hover a span, 
[dir='rtl'] .d2l-contextmenu-item-disabled-hover a span {
	margin-right: 1px;
}

[dir='rtl'] .d2l-contextmenu-item {
	padding-right: 0px;
	padding-left: 2px;
}

[dir='rtl'] .d2l-contextmenu-item a span {
	padding-left: 0px;
	padding-right: 26px;
}
