@import '../bower_components/vui-dropdown/context-menu.scss';
@import '../bower_components/d2l-colors/d2l-colors.scss';

@keyframes vui-dropdown-menu-overlay-flip-x-animation {
	0% {
		margin-top: -$vui-dropdown-menu-offset + $vui-dropdown-menu-animation-vertical-offset;
		opacity: 0;
	}
	100% {
		margin-top: -$vui-dropdown-menu-offset;
		opacity: 1;
	}
}

.vui-dropdown-menu {
	margin-top: $vui-dropdown-menu-offset;
	@include vui-dropdown-menu-animation;
}

.d2l-overlay-flip-x.vui-dropdown-menu {
	margin-top: -$vui-dropdown-menu-offset;
	animation: vui-dropdown-menu-overlay-flip-x-animation
		$vui-dropdown-menu-animation-duration
		$vui-dropdown-menu-animation-timing;
}

.d2l-floating-container.vui-dropdown-menu {
	border-style: none;
}

.vui-dropdown-menu > ul > li.d2l-first-visible-item {
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
}

.vui-dropdown-menu > ul > li.d2l-last-visible-item {
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	border-bottom: 1px solid $d2l-color-gypsum;
}

.vui-dropdown-menu > ul > li.d2l-last-visible-item.vui-dropdown-menu-item-focus {
	@extend li.vui-dropdown-menu-item-focus;
}

.vui-dropdown-menu > ul > li.d2l-contextmenu-item-hover-next-visible {
	border-top: 1px solid transparent;
}

.dcm.dcm_handle.bsi-button-menu,
.d2l-contextmenu-ph {
	@include vui-dropdown-context-menu;
	margin-left: 0.25rem;
	[dir='rtl'] & {
		margin-left: auto;
		margin-right: 0.25rem;
	}
}

.dcm.dcm_handle.d2l-contextmenu-opener-open,
.d2l-contextmenu-ph.d2l-contextmenu-opener-open {
	@include vui-dropdown-context-menu-open;
}
