@import '../bower_components/d2l-link/d2l-link.scss';

.d2l-typography .d2l-htmlblock {

	text-align: left;
	overflow-x: auto;
	overflow-y: hidden;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	b,
	strong,
	b *,
	strong * {
		font-weight: bold;
	}

	h1 {
		font-size: 2em;
		line-height: 37px;
		margin: 21.43px 0;
	}

	h2 {
		font-size: 1.5em;
		line-height: 27px;
		margin: 19.92px 0;
	}

	h3 {
		font-size: 1.2em;
		line-height: 23px;
		margin: 18.72px 0;
	}

	h4 {
		font-size: 1em;
		line-height: 20px;
		margin: 21.28px 0;
	}

	h5 {
		font-size: 0.83em;
		line-height: 16px;
		margin: 22.13px 0;
	}

	h6 {
		font-size: 0.67em;
		line-height: 13px;
		margin: 24.97px 0;
	}

	pre {
		font-family: Monospace;
		font-size: 13px;
		margin: 13px 0;
	}

	p {
		margin: 0.5em 0 1em 0;
	}

}

.d2l-htmlblock {

	ul,
	ol {
		list-style-position: outside;
		margin: 1em 0;
		padding-left: 3em;
	}

	ul,
	ul[type="disc"] {
		list-style-type: disc;
	}

	ul ul,
	ul ol,
	ol ul,
	ol ol {
		margin-top: 0;
		margin-bottom: 0;
	}

	ul ul,
	ol ul,
	ul[type="circle"] {
		list-style-type: circle;
	}

	ul ul ul,
	ul ol ul,
	ol ul ul,
	ol ol ul,
	ul[type="square"] {
		list-style-type: square;
	}

	a {
		@include d2l-link();
	}

}

[dir='rtl'] .d2l-htmlblock {
	text-align: right;
}

[dir='rtl'] .d2l-htmlblock ul,
[dir='rtl'] .d2l-htmlblock ol {
	padding-left: 0;
	padding-right: 3em;
}
