@import '../bower_components/d2l-colors/d2l-colors.scss';
@import 'common.scss';

/* Hide page while web components are loading. This is redundant with
   the WC polyfill code, but is present sooner so helps avoid FOUC. */
body {
	transition: opacity ease-in 0.2s;
}
body[unresolved] {
	opacity: 0;
	display: block;
	overflow: hidden;
	position: relative;
}

#d2l_body,
.d2l-body {
	background-color: $d2l-color-white;
	margin: 0;
	overflow-y: scroll;
	padding: 0;
}

#d2l_body.dbd_frame,
.d2l-body.dbd_frame {
	background-color: transparent;
}

.d2l-page-bg {
	max-width: 1230px;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 50%;
	z-index: -100;
	[dir='rtl'] & {
		right: 50%;
		left: auto;
	}
}

.d2l-page-bg > div {
	position: relative;
	margin-left: -50%;
	width: 100%;
	height: 100%;
	[dir='rtl'] & {
		margin-left: auto;
		margin-right: -50%;
	}
}

.d2l-max-width {
	margin: 0 auto;
	max-width: 1230px;
}

.d2l-page-main-padding {
	@include d2l-page-padding();
	padding-top: 10px;
	padding-bottom: 10px;
}

.d2l-page-header {
	margin-bottom: 1.5rem;
}

.d2l-page-timing {
	font-size: 0.7rem;
	left: 10px;
	position: fixed;
	top: 10px;
}
