{
  "extends": "brightspace",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
      "strict": 2,
      "no-empty": ["error", { "allowEmptyCatch": true }]
  },
  "globals": {
    "D2L": true,
    "fastdom": true,
    "PerformanceObserver": true
  }
}
