@import '../../bower_components/d2l-colors/d2l-colors.scss';

/* these are still referenced by a few FRAs, button-filter-groups, iterator */

@mixin _vui-button(
		$color,
		$background,
		$borderColor,
		$hoverBackground,
		$hoverBorderColor
	) {

	color: $color;
	font-family: inherit;
	font-size: 0.7rem;
	font-weight: 700;
	line-height: 1rem;
	letter-spacing: 0.02rem;
	margin: 0;
	border-radius: 0.3rem;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	min-height: calc(2rem + 2px);
	padding: 0.5rem 1.5rem;
	text-align: center;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	width: auto;

	&,
	&:visited,
	&:link,
	&:hover,
	&:focus,
	&.vui-disabled:hover,
	&.vui-disabled:focus,
	&[disabled]:hover,
	&[disabled]:focus {
		background-color: $background;
		border: 1px solid $borderColor;
		color: $color;
		outline: none;
		text-decoration: none;
	}

	&:after {
		content: " ";
		width: 0;
	}

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&.vui-disabled,
	&[disabled] {
		opacity: 0.5;
		cursor: default;
	}

	&:hover,
	&:focus {
		border-color: $hoverBorderColor;
		background-color: $hoverBackground;
	}

}

.vui-button {
	@include _vui-button(
			$color: $d2l-color-ferrite,
			$background: $d2l-color-woolonardo,
			$borderColor: $d2l-color-titanius,
			$hoverBackground: $d2l-color-gypsum,
			$hoverBorderColor: $d2l-color-titanius
		);
}

.vui-button-primary {
	@include _vui-button(
			$color: $d2l-color-white,
			$background: $d2l-color-celestine,
			$borderColor: $d2l-color-celestuba,
			$hoverBackground: $d2l-color-celestuba,
			$hoverBorderColor: $d2l-color-celestuba
		);
}
