@import 'common.scss';

.d2l-navigation-s-course-menu {
	height: 100%;
}

.d2l-navigation-s-course-menu .d2l-navigation-s-button-highlight {
	margin: 0 5px;
	@media (max-width: $d2l-navigation-bp-separators) {
		margin: 0 $d2l-navigation-margin-compact / 2;
	}
}

.d2l-navigation-s-course-menu d2l-dropdown {
	height: 100%;
}

.d2l-navigation-s-course-menu d2l-dropdown-content {
	line-height: 1.5rem;
}

@media (max-width: $d2l-navigation-bp-mobile-menu) {
	.d2l-navigation-s-course-menu,
	.d2l-navigation-s-divider.d2l-navigation-s-course-menu-divider {
		display: none;
	}
}
