.d2l-navigation-s-header-course {
	align-items: center;
	display: flex;
	flex: 0 1 auto;
	height: 100%;
	margin: -7px;
	overflow: hidden;
	padding: 0 7px;
}

.d2l-navigation-s-header-course > .d2l-navigation-s-link {
	display: block;
	font-size: 1.5rem;
	flex: 0 1 auto; /* IE10 defaults to 0 0 auto */
	overflow: hidden;
	line-height: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media (max-width: $d2l-navigation-bp-mobile-menu) {
	.d2l-navigation-s-header-course {
		display: none;
	}
}
