@import '../../bower_components/d2l-colors/d2l-colors.scss';
@import 'common.scss';

.d2l-navigation-s-header {
	border-bottom: 1px solid $d2l-color-gypsum;
}

.d2l-navigation-s-gutter {
	display: inline-block;
	flex: 1 1 auto;
	min-width: $d2l-navigation-margin-regular;
	@media (max-width: $d2l-navigation-bp-title-compact) {
		min-width: $d2l-navigation-margin-regular / 2;
	}
}

.d2l-navigation-s-header-actions {
	align-items: center;
	display: flex;
	flex: 0 0 auto;
	height: 100%;
}

.d2l-navigation-s-header-open-button-wrapper {
	display: inline-block;
	flex: 0 1 auto;
	height: 100%;
	@media (min-width: $d2l-navigation-bp-mobile-menu) {
		display: none;
	}
}

.d2l-navigation-s-header-logo-area {
	align-items: center;
	display: flex;
	flex: 0 1 auto;
	height: 100%;
	margin: -7px;
	overflow: hidden;
	padding: 0 7px;

	.d2l-navigation-s-header-container & {
		@media (max-width: $d2l-navigation-bp-title-hidden) {
			display: none;
		}
		.d2l-navigation-s-logo {
			@media (max-width: $d2l-navigation-bp-separators) {
				margin-left: $d2l-navigation-margin-compact;
				[dir="rtl"] & {
					margin-left: 0;
					margin-right: $d2l-navigation-margin-compact;
				}
			}
		}
		&.d2l-navigation-s-header-no-home-icon .d2l-navigation-s-logo {
			margin: 0;
		}
		&.d2l-navigation-s-header-no-home-icon .d2l-navigation-s-logo-divider {
			@media (min-width: $d2l-navigation-bp-mobile-menu) {
				display: none;
			}
		}
		& .d2l-navigation-s-home-icon,
		.d2l-navigation-s-logo-divider,
		.d2l-navigation-s-logo {
			@media (max-width: $d2l-navigation-bp-mobile-menu) {
				display: none;
			}
		}
		.d2l-navigation-s-branding-off & {
			@media (max-width: $d2l-navigation-bp-mobile-menu) {
				display: none;
			}
		}
	}
}

.d2l-navigation-s-header-logo-area > .d2l-navigation-s-link {
	display: block;
	font-size: 1.5rem;
	flex: 0 1 auto; /* IE10 defaults to 0 0 auto */
	overflow: hidden;
	line-height: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.d2l-navigation-s-has-branding .d2l-navigation-s-header-logo-area > .d2l-navigation-s-link {
	font-size: 1.25rem;
	@media (max-width: $d2l-navigation-bp-username) {
 		font-size: 1.1rem;
 	}
	@media (max-width: $d2l-navigation-bp-separators) {
 		font-size: 1rem;
 	}
	@media (max-width: $d2l-navigation-bp-title-compact) {
 		font-size: 0.9rem;
 	}
	@media (max-width: $d2l-navigation-bp-separators) {
		margin-left: $d2l-navigation-margin-compact;
		[dir="rtl"] & {
			margin-left: 0;
			margin-right: $d2l-navigation-margin-compact;
		}
	}
}
