@import '../../bower_components/d2l-colors/d2l-colors.scss';

.d2l-navigation-s-button-highlight {
	align-items: center;
	background-color: #ffffff;
	border: none;
	color: $d2l-color-ferrite;
	cursor: pointer;
	display: flex;
	font-family: inherit;
	font-size: 0.7rem;
	height: 100%;
	margin: 0;
	overflow: visible; /* issue #99: for IE, not Edge */
	padding: 0;
	position: relative;
}

button.d2l-navigation-s-button-highlight:hover,
button.d2l-navigation-s-button-highlight:focus,
.d2l-navigation-s-button-highlight:hover d2l-icon,
.d2l-navigation-s-button-highlight:focus d2l-icon {
	color: $d2l-color-celestine-minus-1;
	outline-style: none;
}

button.d2l-navigation-s-button-highlight[data-active],
button.d2l-navigation-s-button-highlight[data-active] d2l-icon {
	color: $d2l-color-celestine;
}

/* http://stackoverflow.com/questions/7928521/why-is-firefox-button-larger */
button.d2l-navigation-s-button-highlight::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.d2l-navigation-s-button-highlight d2l-icon {
	flex: 0 0 auto;
}

.d2l-navigation-s-button-highlight:hover, .d2l-navigation-s-button-highlight:focus {
	.d2l-navigation-s-highlight-bar {
		display: block;
	}
}

.d2l-navigation-s-button-highlight[data-active] .d2l-navigation-s-highlight-bar {
	background-color: $d2l-color-celestine;
	display: block;
}
