@import '../../bower_components/d2l-colors/d2l-colors.scss';
@import '../common.scss';

.d2l-navigation-s-main {
	border-bottom: 1px solid $d2l-color-gypsum;
}

.d2l-navigation-s-main-wrapper {
	align-items: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: calc(1rem + 40px);
	flex-wrap: nowrap;
	transition: opacity ease-in 0.2s;
	&[data-more] {
		justify-content: space-between;
	}
	&[data-loading] {
		opacity: 0;
	}
	&[data-unmeasured] {
		flex-wrap: wrap;
	}
}

.d2l-navigation-s-main-wrapper[has-edit-menu] {
	margin-right: 45px;
}

[dir="rtl"] .d2l-navigation-s-main-wrapper[has-edit-menu] {
	margin-left: 45px;
	margin-right: 0;
}

.d2l-navigation-s-item {
	display: inline-block;
	margin-right: 20px;
	white-space: nowrap;
}
[dir="rtl"] .d2l-navigation-s-item {
	margin-right: 0;
	margin-left: 20px;
}
.d2l-navigation-s-item[data-hidden] {
	display: none;
}

.d2l-navigation-s-group {
	background: none;
	border: 0;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	.d2l-navigation-s-group-wrapper {
		align-items: center;
		display: inline-flex;
		flex-wrap: nowrap;
		d2l-icon {
			height: 15px;
			width: 15px;
		}
	}
	.d2l-navigation-s-group-text {
		margin-right: 0.3rem;
		white-space: nowrap;
	}
	[dir="rtl"] & .d2l-navigation-s-group-text {
		margin-left: 0.3rem;
		margin-right: 0;
	}
	&:hover,
	&:focus,
	&:hover d2l-icon,
	&:focus d2l-icon {
		color: $d2l-color-celestine;
		cursor: pointer;
	}
	&:hover .d2l-navigation-s-group-text,
	&:focus .d2l-navigation-s-group-text {
		text-decoration: underline;
	}
}

.d2l-navigation-s-main-wrapper[data-more] .d2l-navigation-s-more {
	margin-left: 0;
	margin-right: 0;
}

@media (max-width: $d2l-navigation-bp-mobile-menu) {
	.d2l-navigation-s-main {
		display: none;
	}
}

.d2l-navigation-s-gutters {
	position: relative;
}

.d2l-navigation-s-edit-menu {
	@include d2l-page-padding-right();
	opacity: 0;
	position: absolute;
	right: 0;
	transition: opacity 0.25s;
}

[dir="rtl"] .d2l-navigation-s-edit-menu {
	@include d2l-page-padding-left();
	padding-right: 0;
}

[dir="rtl"] .d2l-navigation-s-edit-menu {
	left: 0;
	right: auto;
}

.d2l-navigation-main-tb .d2l-navigation-s-edit-menu {
	top: 12.5px;
}

.d2l-navigation-main-tb[main-tb-hover] .d2l-navigation-s-edit-menu,
.d2l-navigation-main-tb[main-tb-focus] .d2l-navigation-s-edit-menu {
	opacity: 1;
}
