@import '../../bower_components/d2l-colors/d2l-colors.scss';
@import '../../bower_components/d2l-typography/d2l-typography.scss';


.d2l-navigation-main-ib[ib-pully-focus],
.d2l-navigation-main-ib[ib-pully-hover] {
	border-bottom-color: rgba(0, 111, 191, 0.2);
}

.d2l-navigation-main-ib-list {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0.75rem 4px 4px 4px;
	margin: 0 -4px;
	max-height: 7.55rem;
	overflow-y: hidden;
	transition: max-height 200ms ease-out;
}

.d2l-navigation-main-ib-tray[scrollable] .d2l-navigation-main-ib-list {
	overflow-y: auto;
}

.d2l-navigation-main-ib-tray[opened] .d2l-navigation-ib-item[overflow-item] {
	animation-duration: 800ms;
	animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
	animation-name: d2l-navigation-main-ib-bounce;
}

.d2l-navigation-ib-item {
	display: inline-block;
}

.d2l-navigation-ib-item-placeholder {
	height: 0;
	width: 7.3rem;
}

.d2l-navigation-ib-item-link {
	background-color: transparent;
	border-radius: 0.4rem;
	border: 1px solid transparent;
	box-sizing: border-box;
	display: inline-block;
	height: 6.05rem;
	line-height: 1rem;
	outline: none;
	padding-top: 0.75rem;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 7.3rem;
}

.d2l-navigation-ib-item-group {
	cursor: pointer;
	line-height: 1rem;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0.5rem;
}

.d2l-navigation-ib-item-link:focus,
.d2l-navigation-ib-item-link:hover {
	background-color: rgba(0,111,191,0.05);
}

.d2l-navigation-ib-item-link:hover {
	border-color: rgba(0, 111, 191, 0.2);
}

.d2l-navigation-ib-item-link:focus {
	border-color: rgba(0, 111, 191, 0.4);
	box-shadow: 0 0 0 4px rgba(0, 111, 191, 0.3);
}

.d2l-navigation-ib-item-icon,
.d2l-navigation-ib-item-icon-group {
	height: 3rem;
	width: 3rem;
}

.d2l-navigation-ib-item-icon-small,
.d2l-navigation-ib-item-icon-group-small {
	height: 2rem;
	width: 2rem;
}

.d2l-navigation-ib-item-icon {
	display: block;
	margin: 0 auto;
	object-fit: cover;
	object-position: 0 0;
}

.d2l-navigation-ib-item-custom-icon {
	border-radius: 0.4rem;
}

.d2l-navigation-ib-item-icon-group {
	border-radius: 0.4rem;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}

.d2l-navigation-ib-item-icon-group-icon {
	box-sizing: border-box;
	margin-bottom: 0.3rem;
}

.d2l-navigation-ib-item-icon-group-2x2 .d2l-navigation-ib-item-icon-group-icon {
	height: 1.35rem;
	width: 1.35rem;
}

.d2l-navigation-ib-item-icon-group-3x3 > .d2l-navigation-ib-item-icon-group-icon {
	height: 0.8rem;
	width: 0.8rem;
}

.d2l-navigation-ib-item-icon-group-small > .d2l-navigation-ib-item-icon-group-icon {
	margin-bottom: 0.2rem;
}

.d2l-navigation-ib-item-icon-group-small.d2l-navigation-ib-item-icon-group-2x2 > .d2l-navigation-ib-item-icon-group-icon {
	height: 0.89rem;
	width: 0.89rem;
}

.d2l-navigation-ib-item-icon-group-small.d2l-navigation-ib-item-icon-group-3x3 > .d2l-navigation-ib-item-icon-group-icon {
	height: 0.53rem;
	width: 0.53rem;
}


.d2l-navigation-ib-item-icon-group-2x2 > .d2l-navigation-ib-item-icon-group-custom-icon,
.d2l-navigation-ib-item-icon-group-2x2 > div.d2l-navigation-ib-item-icon-group-icon {
	border-radius: 0.15rem;
}

.d2l-navigation-ib-item-icon-group-3x3 > .d2l-navigation-ib-item-icon-group-custom-icon,
.d2l-navigation-ib-item-icon-group-3x3 > div.d2l-navigation-ib-item-icon-group-icon {
	border-radius: 0.1rem;
}

.d2l-navigation-ib-item-icon-group-custom-icon {
	object-fit: cover;
	object-position: 0 0;
}

div.d2l-navigation-ib-item-icon-group-icon {
	background-color: $d2l-color-sylvite;
	border: 1px solid $d2l-color-gypsum;
}

.d2l-navigation-ib-item-group-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 3px 2px;
}

.d2l-navigation-ib-item-group-content-2x2 {
	max-width: 306px;
}

.d2l-navigation-ib-item-group-content-3x3 {
	max-width: 464px;
}

.d2l-navigation-ib-item-link-text {
	color: $d2l-color-ferrite;
	display: inline-block;
	margin-top: 0.5rem;
	max-width: 6.3rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	@include d2l-body-compact();
}

.d2l-navigation-ib-item-link:hover .d2l-navigation-ib-item-link-text {
	color: $d2l-color-celestine;
	text-decoration: underline;
}

.d2l-navigation-main-ib-top-cap {
	box-shadow: 0 3px 3px rgba(0,0,0,.05);
	display: none;
	height: 3px;
	position: absolute;
	margin: -3px;
	width: 100%;
}

.d2l-navigation-main-ib-tray[opened][overflow-top] > .d2l-navigation-main-ib-top-cap {
	display: block;
}

.d2l-navigation-main-ib-bottom-cap {
	border-top: 1px solid transparent;
	box-sizing: border-box;
	height: 0.7rem;
	text-align: center;
	width: 100%;
}

.d2l-navigation-main-ib-tray[opened] > .d2l-navigation-main-ib-bottom-cap {
	border-color: $d2l-color-gypsum;
}

.d2l-navigation-main-ib-pully[shown]:focus,
.d2l-navigation-main-ib-pully[shown]:hover {
	border-color: rgba(0, 111, 191, 0.2);
}

.d2l-navigation-main-ib-tray[opened][overflow-bottom] > .d2l-navigation-main-ib-bottom-cap {
	box-shadow: 0 -3px 3px rgba(0,0,0,.05);
}

.d2l-navigation-main-ib-pully[shown] {
	cursor: pointer;
}

.d2l-navigation-main-ib-pully[shown]:focus,
.d2l-navigation-main-ib-pully[shown]:hover {
	background-color: rgba(0,111,191,0.05);
	outline: none;
}

.d2l-navigation-main-ib-pully-tab {
	background-color: #fff;
	border: 1px solid $d2l-color-gypsum;
	border-top-style: none;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	display: none;
	height: 0.75rem;
	margin-top: 0.65rem;
	position: relative;
	width: 4rem;
	z-index: 5;
}

.d2l-navigation-main-ib-pully-icon {
	border-style: none;
	border-bottom-left-radius: 0.45rem;
	border-bottom-right-radius: 0.45rem;
	display: inline-block;
	height: 100%;
	width: 100%;
}

.d2l-navigation-main-ib-pully[shown]:focus .d2l-navigation-main-ib-pully-icon,
.d2l-navigation-main-ib-pully[shown]:hover .d2l-navigation-main-ib-pully-icon {
	background-color: rgba(0,111,191,0.05);
}

.d2l-navigation-main-ib-pully[shown] > .d2l-navigation-main-ib-pully-tab {
	display: inline-block;
}

.d2l-navigation-main-ib-pully[shown]:focus .d2l-navigation-main-ib-pully-tab,
.d2l-navigation-main-ib-pully[shown]:hover .d2l-navigation-main-ib-pully-tab {
	border-color: rgba(0, 111, 191, 0.2);
}

.d2l-navigation-main-ib-pully-icon > d2l-icon {
	color: $d2l-color-celestine;
	height: 22px;
	position: relative;
	top: -10px;
	width: 22px;
}

.d2l-navigation-main-ib-tray[closing] .d2l-navigation-main-ib-pully[shown] .d2l-navigation-main-ib-pully-icon > d2l-icon {
	animation-duration: 200ms;
	animation-timing-function: ease-in-out;
	animation-name: d2l-navigation-main-ib-swing-reset;
	transform: rotateZ(0deg);
}

.d2l-navigation-main-ib-tray[opened] .d2l-navigation-main-ib-pully[shown] .d2l-navigation-main-ib-pully-icon > d2l-icon {
	animation-duration: 800ms;
	animation-timing-function: ease-in-out;
	animation-name: d2l-navigation-main-ib-swing;
	transform: rotateZ(180deg);
}

.d2l-navigation-main-ib-tray .d2l-navigation-s-edit-menu {
	top: 10px;
}

.d2l-navigation-main-ib-tray[ib-tray-hover] .d2l-navigation-s-edit-menu,
.d2l-navigation-main-ib-tray[ib-tray-focus] .d2l-navigation-s-edit-menu {
	opacity: 1;
}

@keyframes d2l-navigation-main-ib-swing {
	0% {transform: rotateZ(0deg);}
	40% {transform: rotateZ(240deg);}
	55% {transform: rotateZ(150deg);}
	70% {transform: rotateZ(195deg);}
	85% {transform: rotateZ(173deg);}
	100% {transform: rotateZ(180deg);}
}

@keyframes d2l-navigation-main-ib-swing-reset {
	0% {transform: rotateZ(180deg);}
	100% {transform: rotateZ(0deg);}
}

@keyframes d2l-navigation-main-ib-bounce {
	0% {transform: translateY(-80.00px) scale(0);}
	29% {transform: translateY(15.95px) scale(1);}
	46.75% {transform: translateY(-2.72px) scale(1);}
	64.5% {transform: translateY(0.46px) scale(1);}
	82.25% {transform: translateY(-0.08px) scale(1);}
	100% {transform: translateY(0) scale(1);}
}
