@import '../../bower_components/d2l-colors/d2l-colors.scss';
@import 'common.scss';

.d2l-navigation-s-mobile-menu[data-state="closed"] {
	display: none;
}

.d2l-navigation-s-mobile-menu-content {
	background-color: #ffffff;
	border-top: 4px solid $d2l-color-corundum;
	height: 100%;
	left: 0;
	min-width: 300px;
	overflow-y: auto;
	position: fixed;
	top: 0;
	transform: translateX(-100%);
	transition: transform 300ms;
	width: 84%;
	z-index: 9000;
}

[dir='rtl'] .d2l-navigation-s-mobile-menu-content {
	left: auto;
	right: 0;
	transform: translateX(100%);
}

.d2l-navigation-s-mobile-menu[data-state="opened"] .d2l-navigation-s-mobile-menu-content {
	transform: translateX(0);
}

.d2l-navigation-s-mobile-menu-mask {
	background-color: $d2l-color-ferrite;
	height: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	transition: opacity 300ms, width 0s 0.3s, height 0s 0.3s;
	top: 0;
	width: 0;
	z-index: 8999;
}
.d2l-navigation-s-mobile-menu-mask-close {
	min-width: 300px;
	width: 84%;
}
.d2l-navigation-s-mobile-menu-mask-close > button {
	position: relative;
	top: 10px;
}
.d2l-navigation-s-mobile-menu-mask-close > button:focus {
	left: calc(100% + 10px);
}
[dir="rtl"] .d2l-navigation-s-mobile-menu-mask-close > button:focus {
	left: auto;
	right: calc(100% + 10px);
}
.d2l-navigation-s-mobile-menu[data-state="opened"] .d2l-navigation-s-mobile-menu-mask {
	height: 100vh;
	opacity: 0.8;
	transition: opacity 300ms;
	width: 100vw;
}
.d2l-navigation-s-mobile-menu-header {
	align-items: center;
	border-bottom: 1px solid $d2l-color-gypsum;
	display: flex;
	height: $d2l-navigation-header-height-mobile;
	padding: 0 1rem;
	font-size: 1.1rem;
	font-weight: 700;
}

.d2l-navigation-s-mobile-menu-branded-header {
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;
}

.d2l-navigation-s-mobile-menu-course-selector {
	display: inline-block;
	height: 100%;
}

.d2l-navigation-s-mobile-menu-header-course-menu {
	align-items: center;
	display: none;
	width: 100%;
	& span {
		display: inline-block;
		flex: auto;
		flex: 1; /* IE10 defaults to 0 0 auto */
		margin-right: 62px;
		overflow-x: hidden;
		text-align: center;
		text-decoration: none;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	[dir="rtl"] & p {
		margin-left: 62px;
		margin-right: 0;
	}
}

.d2l-navigation-s-mobile-menu.d2l-navigation-s-mobile-menu-show-course-menu {
	.d2l-navigation-s-mobile-menu-header-course-menu {
		display: flex;
	}
	.d2l-navigation-s-mobile-menu-course-menu {
		display: block;
	}
	.d2l-navigation-s-mobile-menu-branded-header,
	.d2l-navigation-s-mobile-menu-title-bp,
	.d2l-navigation-s-mobile-menu-nav {
		display: none;
	}
}

.d2l-navigation-s-mobile-menu-course-menu {
	display: none;
	line-height: 1.5rem;
}

.d2l-navigation-s-mobile-menu-title-bp {
	background-color: $d2l-color-regolith;
	border-bottom: 1px solid $d2l-color-gypsum;
	display: none;
	font-size: 1rem;
	font-weight: 700;
	overflow: hidden;
	padding: 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;

	@media (max-width: $d2l-navigation-bp-title) {
		display: block;
	}
}

.d2l-navigation-s-mobile-menu-header .d2l-navigation-s-header-logo-area {
	flex-grow: 1;

	.d2l-navigation-s-logo-divider {
		display: inline-block;		
	}

	&.d2l-navigation-s-header-no-home-icon .d2l-navigation-s-logo-divider {
		display: none;
	}

	.d2l-navigation-s-link {
		font-size: 1rem;
	}

	.d2l-navigation-s-logo {
		img {
			max-height: $d2l-navigation-small-logo-height;
			max-width: $d2l-navigation-small-logo-width;
		}
	}

	@media (max-width: $d2l-navigation-bp-title) {
		.d2l-navigation-s-title-divider {
			d2l-icon {
				display: none;
			}
		}

		.d2l-navigation-s-link {
			display: none;
		}
	}
	@media (max-width: $d2l-navigation-bp-mobile-menu-compact) {
		.d2l-navigation-s-logo-divider {
			d2l-icon {
				display: none;
			}
		}
	}
}
