@import '../../bower_components/d2l-colors/d2l-colors.scss';
@import '../../bower_components/d2l-offscreen/offscreen.scss';
@import 'common.scss';

.d2l-navigation-s-personal-menu {
	display: inline-block;
	flex: 0 0 auto;
	height: 100%;
}

.d2l-navigation-s-personal-menu-wrapper {
	align-items: center;
	display: flex;
}

.d2l-navigation-s-personal-menu-wrapper d2l-icon {
	border-radius: 8px;
	flex: 0 0 auto;
	height: 42px;
	overflow: hidden;
	width: 42px;
}

.d2l-navigation-s-personal-menu-text {
	flex: 0 1 auto;
	margin-left: 10px;
	max-width: 200px;
	min-width: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	@media (max-width: $d2l-navigation-bp-username) {
		display: none;
	}
}
[dir='rtl'] .d2l-navigation-s-personal-menu-text {
	margin-left: 0;
	margin-right: 10px;
}
@media (max-width: $d2l-navigation-bp-mobile-menu) {
	.d2l-navigation-s-personal-menu-text {
		@include d2l-offscreen();
	}
}

.d2l-navigation-s-personal-menu d2l-dropdown {
	height: 100%;
}
.d2l-navigation-s-personal-menu d2l-dropdown-content {
	line-height: 1.5rem;
}

.d2l-navigation-s-personal-menu-icon {
    align-items: center;
    background-color: $d2l-color-carnelian;
    border-radius: 8px;
    display: inline-flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 42px;
    justify-content: center;
    width: 42px;
}

.d2l-navigation-s-personal-menu-icon img {
	height: 24px;
	width: 24px;
}

.d2l-navigation-s-personal-menu-text-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
}
[dir='rtl'] .d2l-navigation-s-personal-menu-text-wrapper {
	text-align: right;
}

.d2l-navigation-s-personal-menu-text-bold {
	font-weight: bold;
}

.d2l-navigation-s-personal-menu-description {
	font-size: 0.6rem;
	margin-top: 5px;
}
