$d2l-vui-grid-system-gutters: 100/70;
@import '../../bower_components/vui-grid-system/grid-system.scss';

@function get-col-class($prefix, $index) {
	@return unquote(".#{$prefix}#{$index}");
}

@function gen-col-list($numCols, $prefix) {
	$col-list: null;
	@for $i from 1 through $numCols {
		$col-list: append($col-list, get-col-class($prefix, $i), comma);
	}
	@return $col-list;
}

@mixin gen-col-widths($numCols, $prefix) {
	@for $i from 1 through $numCols {
		$className: get-col-class($prefix, $i);
		#{$className} {
			width: span($i);
		}
	}
}

$columns: susy-get(columns);
$col-prefix: 'homepage-col-';
$col-classes: gen-col-list($columns, $col-prefix);
$gutter-width: gutter($columns);
$viewport-width-sm: 768px;

.homepage-container {
	@include vui-gs-container();
}

.homepage-row {
	@include vui-gs-row();
}

.homepage-row > div:not(:last-child),
.homepage-row > div > div:not(:last-child),
.homepage-container > div:not(.homepage-row):not(:last-child) {
	margin-right: $gutter-width;

	[dir='rtl'] & {
		margin-right: 0;
		margin-left: $gutter-width;
	}
}

#{$col-classes} {
	width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;

	[dir='rtl'] & {
		float: right;
	}
}

.daylight-widget-demarcation {

	.d2l-homepage-pageheader {
		margin: 0;
	}

	.d2l-homepage {
		margin-top: 30px;
	}

	.d2l-widget {
		border-style: none;
		margin-top: 40px;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.d2l-widget:first-child {
		margin-top: 0;
	}

	.d2l-widget-header {
		padding: 0;
	}

	.d2l-widget-content-padding {
		padding-top: 11px;
	}

	.d2l-widget-header.d2l-offscreen + .d2l-widget-content > .d2l-widget-content-padding {
		padding-top: 0;
	}

	.d2l-widget-header .d2l-heading {
		line-height: 1.2rem;
	}

	.d2l-homepage-header-menu-wrapper {
		margin-top: -2px;
	}

	.homepage-container div:last-of-type .d2l-widget:last-child {
		border-bottom: 0;
	}

	.homepage-container div:last-of-type .d2l-tile.d2l-widget:last-child {
		padding-bottom: 20px;
	}

	.homepage-container div:last-of-type .d2l-tile.d2l-widget.d2l-widget-collapsed:last-child {
		padding-bottom: 11px;
	}

}

.d2l-tile.d2l-widget {
	padding: 15px 20px 20px 20px;
}

.d2l-tile.d2l-widget-padding-full {
	padding: 20px;
}

.d2l-tile.d2l-widget-collapsed {
	padding: 15px 20px 11px 20px;
}

@media screen and (min-width: $viewport-width-sm) {
	@include gen-col-widths($columns, $col-prefix);
}
