@import '../../bower_components/d2l-colors/d2l-colors.scss';

$d2l-navigation-header-height: 90px;
$d2l-navigation-header-height-mobile: 72px;
$d2l-navigation-header-height-mobile: 72px;
$d2l-navigation-small-logo-height: 40px;
$d2l-navigation-small-logo-width: 173px;
$d2l-navigation-bp-mobile-menu: 992px;
$d2l-navigation-bp-mobile-menu-medium: 615px;
$d2l-navigation-bp-mobile-menu-small: 380px;
$d2l-navigation-bp-title: 670px;

.d2l-navigation-s-centerer {
	margin: 0 auto;
	max-width: 1230px;
}

.d2l-navigation-s-gutters {
	padding-left: 2.439%;
	padding-right: 2.439%;
}

.d2l-navigation-s-header-container {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: $d2l-navigation-header-height;
}

a.d2l-navigation-s-link,
a.d2l-navigation-s-link:link,
a.d2l-navigation-s-link:visited {
	color: $d2l-color-ferrite;
	cursor: pointer;
	text-decoration: none;
}
a.d2l-navigation-s-link:hover,
a.d2l-navigation-s-link:focus {
	color: $d2l-color-celestine;
	text-decoration: underline;
	outline: none;
}

.d2l-navigation-s-highlight-bar {
	background-color: $d2l-color-celestuba;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	display: none;
	height: 4px;
	left: -7px;
	position: absolute;
	top: 0;
	width: calc(100% + 14px);
}

@media (max-width: 615px) {
	.d2l-navigation-s-gutters {
		padding-left: 15px;
		padding-right: 15px;
	}
	.d2l-navigation-s-header-container {
		height: $d2l-navigation-header-height-mobile;
	}
}
