.d2l-navigation-s-course-menu {
	height: 100%;
}

.d2l-navigation-s-course-menu .d2l-navigation-s-button-highlight {
	margin: 0 5px;
}

.d2l-navigation-s-course-menu d2l-dropdown {
	height: 100%;
}

.d2l-navigation-s-course-menu d2l-dropdown-content {
	line-height: 1.5rem;
}

@media (max-width: 554px) {
	.d2l-navigation-s-course-menu,
	.d2l-navigation-s-divider.d2l-navigation-s-course-menu-divider {
		display: none;
	}
}
