@import '../../bower_components/d2l-colors/d2l-colors.scss';

.d2l-navigation-s-header {
	border-bottom: 1px solid $d2l-color-gypsum;
}

.d2l-navigation-s-gutter {
	display: inline-block;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
	min-width: 30px;
}

.d2l-navigation-s-header-actions {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	height: 100%;
}

.d2l-navigation-s-header-open-button-wrapper {
	display: inline-block;
	-ms-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	flex: 0 1 auto;
	height: 100%;
	@media(min-width: $d2l-navigation-mobile-menu-bp) {
		display: none;
	}
}

.d2l-navigation-s-header-logo-area {
	-webkit-flex: 0 1 auto;
	-webkit-align-items: center;
	-ms-flex: 0 1 auto;
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex: 0 1 auto;
	height: 100%;
	margin: -7px;
	overflow: hidden;
	padding: 0 7px;

	.d2l-navigation-s-header-container & {
		@media(max-width: $d2l-navigation-mobile-menu-bp) {
			display: none;
		}
	}
}

.d2l-navigation-s-header-logo-area > .d2l-navigation-s-link {
	display: block;
	font-size: 1.5rem;
	-ms-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	flex: 0 1 auto; /* IE10 defaults to 0 0 auto */
	overflow: hidden;
	line-height: normal;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.d2l-navigation-s-has-branding .d2l-navigation-s-header-logo-area > .d2l-navigation-s-link {
	font-size: 1.25rem;
}
