@import '../../bower_components/d2l-colors/d2l-colors.scss';

.d2l-navigation-s-button-highlight {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: $d2l-color-white;
	border: none;
	color: $d2l-color-tungsten;
	cursor: pointer;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-family: inherit;
	font-size: 0.7rem;
	height: 100%;
	margin: 0;
	overflow: visible; /* issue #99: for IE, not Edge */
	padding: 0;
	position: relative;
}

button.d2l-navigation-s-button-highlight:hover,
button.d2l-navigation-s-button-highlight:focus,
.d2l-navigation-s-button-highlight:hover d2l-icon,
.d2l-navigation-s-button-highlight:focus d2l-icon {
	color: $d2l-color-celestuba;
	outline-style: none;
}

button.d2l-navigation-s-button-highlight[data-active] {
	color: $d2l-color-celestine;
}

.d2l-navigation-s-button-highlight d2l-icon {
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
}

.d2l-navigation-s-button-highlight:hover, .d2l-navigation-s-button-highlight:focus {
	.d2l-navigation-s-highlight-bar {
		display: block;
	}
}

.d2l-navigation-s-button-highlight[data-active] .d2l-navigation-s-highlight-bar {
	background-color: $d2l-color-celestine;
	display: block;
}
