@import 'common.scss';
@import '../../bower_components/d2l-colors/d2l-colors.scss';

.d2l-navigation-s-logo {
	align-items: center;
	display: flex;
	height: 100%;
	position: relative;
}

.d2l-navigation-s-branding-off .d2l-navigation-s-logo {
	display: inline-flex;
}

.d2l-navigation-s-logo-wrapper > a {
	display: inline-block;
}

.d2l-navigation-s-logo img {
	border: none; /* needed for IE10 */
	max-height: 60px;
	max-width: 260px;
}

.d2l-navigation-s-has-title .d2l-navigation-s-logo img {
	max-height: $d2l-navigation-small-logo-height;
	max-width: $d2l-navigation-small-logo-width;
}

.d2l-navigation-s-logo:hover, .d2l-navigation-s-logo-link:focus {
	.d2l-navigation-s-highlight-bar {
		display: block;
	}
}

.d2l-navigation-s-logo-link:focus {
	box-shadow: 0 0 3px 0 rgba( $d2l-color-celestine, 0.4 );
}

/*
.d2l-navigation-s-slide-out-menu .d2l-navigation-s-logo-wrapper {
	align-items: center;
	display: flex;
	height: var(--d2l-navigation-header-height);
	justify-content: flex-start;
}
@media(max-width: 615px) {
	.d2l-navigation-s-slide-out-menu .d2l-navigation-s-logo-wrapper {
		height: var(--d2l-navigation-header-height-mobile);
	}
}*/
