@import 'common.scss';
@import '../../bower_components/d2l-colors/d2l-colors.scss';

.d2l-navigation-s-logo {
	align-items: center;
	display: inline-flex;
	height: 100%;
	position: relative;
}

.d2l-navigation-s-logo-wrapper > a {
	display: inline-block;
}

.d2l-navigation-s-logo img {
	border: none; /* needed for IE10 */
	max-height: 60px;
	max-width: 260px;
}

.d2l-navigation-s-has-title .d2l-navigation-s-logo img {
	max-height: $d2l-navigation-small-logo-height;
	max-width: $d2l-navigation-small-logo-width;
}

.d2l-navigation-s-logo-link:hover, .d2l-navigation-s-logo-link:focus {
	.d2l-navigation-s-highlight-bar {
		display: block;
	}
}

.d2l-navigation-s-logo-link:focus {
	box-shadow: 0 0 3px 0 rgba( $d2l-color-celestine, 0.4 );
}
