@import '../../bower_components/d2l-colors/d2l-colors.scss';

.d2l-navigation-s-main {
	border-bottom: 1px solid $d2l-color-gypsum;
}

.d2l-navigation-s-main-wrapper {
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: calc(1rem + 40px);
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	&[data-more] {
		-webkit-justify-content: space-between;
		-ms-align-justify-content: space-between;
		justify-content: space-between;
	}
	&[data-loading] {
		opacity: 0;
	}
	&[data-unmeasured] {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.d2l-navigation-s-item {
	display: inline-block;
	margin-right: 20px;
	white-space: nowrap;
}
[dir="rtl"] .d2l-navigation-s-item {
	margin-right: 0;
	margin-left: 20px;
}
.d2l-navigation-s-item[data-hidden] {
	display: none;
}

.d2l-navigation-s-group {
	background: none;
	border: 0;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	.d2l-navigation-s-group-wrapper {
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: -webkit-inline-flex;
		display: inline-flex;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		d2l-icon {
			height: 15px;
			width: 15px;
		}
	}
	.d2l-navigation-s-group-text {
		margin-right: 0.3rem;
		white-space: nowrap;
	}
	[dir="rtl"] & .d2l-navigation-s-group-text {
		margin-left: 0.3rem;
		margin-right: 0;
	}
	&:hover,
	&:focus,
	&:hover d2l-icon,
	&:focus d2l-icon {
		color: $d2l-color-celestine;
		cursor: pointer;
	}
	&:hover .d2l-navigation-s-group-text,
	&:focus .d2l-navigation-s-group-text {
		text-decoration: underline;
	}
}

.d2l-navigation-s-main-wrapper[data-more] .d2l-navigation-s-more {
	margin-left: 0;
	margin-right: 0;
}

@media (max-width: 992px) {
	.d2l-navigation-s-main {
		display: none;
	}
}
