@import '../../bower_components/d2l-colors/d2l-colors.scss';

.d2l-navigation-s-no-login {
	background-color: #fff;
	border-bottom: 1px solid $d2l-color-gypsum;
	line-height: 1;
	min-width: 320px;
	position: relative;
}
