@import '../../bower_components/d2l-colors/d2l-colors.scss';
@import '../../bower_components/d2l-offscreen/offscreen.scss';

.d2l-navigation-s-personal-menu {
	display: inline-block;
	height: 100%;
}

.d2l-navigation-s-personal-menu-wrapper {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.d2l-navigation-s-personal-menu-wrapper iron-icon {
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	flex: 0 0 auto;
	height: 42px;
	width: 42px;
	border-radius: 8px;
	overflow: hidden;
}

.d2l-navigation-s-personal-menu-text {
	-ms-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	flex: 0 1 auto;
	margin-left: 10px;
	max-width: 200px;
	min-width: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
[dir='rtl'] .d2l-navigation-s-personal-menu-text {
	margin-left: 0;
	margin-right: 10px;
}
@media(max-width: 992px) {
	.d2l-navigation-s-personal-menu-text {
		@include d2l-offscreen();
	}
}

.d2l-navigation-s-personal-menu d2l-dropdown {
	height: 100%;
}
.d2l-navigation-s-personal-menu d2l-dropdown-content {
	line-height: 1.5rem;
}
