@import 'node_modules/vui-colors/colors.scss';
@import 'node_modules/vui-typography/px-to-base-rem.scss';

.d2l-button-split > .vui-button {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	[dir='rtl'] & {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: px-to-base-rem(6px);
		border-bottom-right-radius: px-to-base-rem(6px);
	}
}

.d2l-button-split > .d2l-button-menu {
	border-left-color: transparent;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: px-to-base-rem(6px);
	border-bottom-right-radius: px-to-base-rem(6px);
	[dir='rtl'] & {
		border-left-color: $vui-color-titanius;
		border-right-color: transparent;
		border-top-left-radius: px-to-base-rem(6px);
		border-bottom-left-radius: px-to-base-rem(6px);
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	&:hover, &:focus {
		border-color: $vui-color-pressicus;

	}
}
