.d2l-checkbox-container,
.d2l-radio-inline {
	cursor: default;
	display: inline-block;
	font-size: inherit;
	font-weight: normal;
	line-height: inherit;
	margin: 3px 0;
	min-height: 20px;
	padding-left: 20px;
	padding-right: 6px;
	vertical-align: middle;
}
.d2l-radio-inline {
	margin: 0;
}
[dir='rtl'] .d2l-checkbox-container,
[dir='rtl'] .d2l-radio-inline {
	padding-right: 20px;
	padding-left: 6px;
}

.d2l-checkbox-container input[type="checkbox"],
.d2l-radio-inline input[type="radio"] {
	cursor: default;
	float: left;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: 0.26em 0 0 -20px;
	min-height: 0;
	vertical-align: middle;
	width: auto;
}
[dir='rtl'] .d2l-checkbox-container input[type="checkbox"],
[dir='rtl'] .d2l-radio-inline input[type="radio"] {
	float: right;
	margin-left: 0;
	margin-right: -20px;
}

.d2l-checkbox-container + .d2l-checkbox-container,
.d2l-radio-inline + .d2l-radio-inline {
	margin-left: 10px;
}
[dir='rtl'] .d2l-checkbox-container + .d2l-checkbox-container,
[dir='rtl'] .d2l-radio-inline + .d2l-radio-inline {
	margin-left: 0;
	margin-right: 10px;
}

.d2l-checkbox-container.d2l-checkbox-disabled,
.d2l-radio-inline.d2l-radio-disabled {
	color: #A0A0A0;
	cursor: default;
}
