.d2l-checkbox-container, .d2l-radio-inline {
	display: inline-block;
	padding-left: 1.6rem;
	padding-right: 6px;
	vertical-align: middle;
}
[dir='rtl'] .d2l-checkbox-container,
[dir='rtl'] .d2l-radio-inline {
	padding-right: 1.6rem;
	padding-left: 6px;
}

.d2l-checkbox-container input[type="checkbox"],
.d2l-radio-inline input[type="radio"] {
	margin-top: 0.2rem;
	margin-right: 0.7rem;
	margin-left: -1.6rem;
	vertical-align: top;
}
[dir='rtl'] .d2l-checkbox-container input[type="checkbox"],
[dir='rtl'] .d2l-radio-inline input[type="radio"] {
	margin-left: 0.7rem;
	margin-right: -1.6rem;
}

.d2l-checkbox-container + .d2l-checkbox-container,
.d2l-radio-inline + .d2l-radio-inline {
  margin-left: 10px;
}
[dir='rtl'] .d2l-checkbox-container + .d2l-checkbox-container,
[dir='rtl'] .d2l-radio-inline + .d2l-radio-inline {
  margin-left: 0;
  margin-right: 10px;
}

.d2l-checkbox-container.d2l-checkbox-disabled,
.d2l-radio-inline.d2l-radio-disabled {
	color: #A0A0A0;
	cursor: default;
}
