@import '../bower_components/vui-link/link.scss';
@import '../bower_components/vui-focus/focus.scss';

.d2l-collapsepane-action {
	& > .d2l-heading {
		color: $vui-link-color;
		cursor: pointer;
		text-decoration: $vui-link-textDecoration;
	}
	&:hover > .d2l-heading,
	&:focus > .d2l-heading {
		color: $vui-link-color-focus;
		text-decoration: $vui-link-textDecoration-focus;
	}
	&:focus {
		@include vui-focus-outline;
	}
}
