@import '../bower_components/vui-link/link.scss';
@import '../bower_components/vui-focus/focus.scss';

.d2l-container-icon-link {
	& > a > .d2l-container-icon-link-link {
		color: $vui-link-color;
		cursor: pointer;
		text-decoration: $vui-link-textDecoration;
	}
	& > a:hover > .d2l-container-icon-link-link,
	& > a:focus > .d2l-container-icon-link-link {
		color: $vui-link-color-focus;
		text-decoration: $vui-link-textDecoration-focus;
	}
	& > a:focus > .d2l-container-icon-link-link {
		@include vui-focus-outline;
	}
}
