@import '../bower_components/vui-colors/colors.scss';

.d2l-container-icon-link {
	& > a > .d2l-container-icon-link-link {
		color: $vui-color-celestine;
		cursor: pointer;
		font-weight: normal;
		text-decoration: none;
	}
	& > a:hover > .d2l-container-icon-link-link,
	& > a:focus > .d2l-container-icon-link-link {
		color: $vui-color-celestuba;
		text-decoration: underline;
	}
}
