@import 'node_modules/vui-typography/px-to-base-rem.scss';
@import 'node_modules/vui-dropdown/context-menu.scss';

@keyframes vui-dropdown-menu-overlay-flip-x-animation {
	0% {
		margin-top: -$vui-dropdown-menu-offset + $vui-dropdown-menu-animation-vertical-offset;
		opacity: 0;
	}
	100% {
		margin-top: -$vui-dropdown-menu-offset;
		opacity: 1;
	}
}

.vui-dropdown-menu {
	margin-top: $vui-dropdown-menu-offset;
	@include vui-dropdown-menu-animation;
}

.d2l-overlay-flip-x.vui-dropdown-menu {
	margin-top: -$vui-dropdown-menu-offset;
	animation: vui-dropdown-menu-overlay-flip-x-animation
		$vui-dropdown-menu-animation-duration
		$vui-dropdown-menu-animation-timing;
}

.d2l-floating-container.vui-dropdown-menu {
	border-style: none;
}

.vui-dropdown-menu-item-link {
	background-repeat: no-repeat;
	background-position: px-to-base-rem(11px) px-to-base-rem(20px);
	box-sizing: border-box;
	padding-left: px-to-base-rem(42px);
}

[dir='rtl'] .vui-dropdown-menu-item-link {
	background-position: right px-to-base-rem(11px) top px-to-base-rem(20px);
	padding-left: px-to-base-rem(11px);
	padding-right: px-to-base-rem(42px);
}

.dcm.dcm_handle.bsi-button-menu,
.d2l-contextmenu-ph {
	@include vui-dropdown-context-menu;
	margin-left: px-to-base-rem(5);
	[dir='rtl'] & {
		margin-left: auto;
		margin-right: px-to-base-rem(5);
	}
}

.dcm.dcm_handle.d2l-contextmenu-opener-open,
.d2l-contextmenu-ph.d2l-contextmenu-opener-open {
	@include vui-dropdown-context-menu-open;
}
