@import 'node_modules/vui-colors/colors.scss';
@import 'node_modules/vui-typography/px-to-base-rem.scss';
@import '../bower_components/vui-loading-spinner/loadingSpinner.scss';

$dialog-media-break-small: "(max-device-width: 767px), screen and (max-width:767px)";
$dialog-media-break-small-iframe: "(max-device-width: 767px)";
$dialog-background-color: #fff;
$dialog-close-icon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEX///98fHy9vb02RwSKAAAAAXRSTlMAQObYZgAAADZJREFUCB0FwTENACAMALCOhAMDOMDHJOzkRAoiEEwLABC3pTgj2QvzoRfGwdp4k1b9iowEAHzpNgXTV0Ym1gAAAABJRU5ErkJggg==");

@mixin _dialog-animation_slide-from-top($state:"open"){

	animation: {
		duration: 0.3s;
		timing-function: linear;
		name: if($state=="open", dialog-slide-in-from-top-open, dialog-slide-in-from-top-close);
	}

	@if $state=="close" {
		top: -1000px;
	}

	@keyframes dialog-slide-in-from-top-open {
		from {
			opacity: 0;
			transform: translateY(-50px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@keyframes dialog-slide-in-from-top-close {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0;
			transform: translateY(-50px);
		}
	}
}

@mixin _dialog-animation_slide-from-bottom($state:"open"){

	animation: {
		duration: 0.3s;
		timing-function: linear;
		name: if($state=="open", dialog-slide-in-from-bottom-open, dialog-slide-in-from-bottom-close);
	}
	top: if($state=="open", 0, 100%);

	@keyframes dialog-slide-in-from-bottom-open {
		from { transform: translateY(100%); }
		to   { transform: translateY(0); }
	}
	@keyframes dialog-slide-in-from-bottom-close {
		from { transform: translateY(0); }
		to   { transform: translateY(100%); }
	}
}


.d2l-dialog-loading {
	@include _dialog-animation_slide-from-top($state:"open");

	@media #{$dialog-media-break-small} {
		@include _dialog-animation_slide-from-bottom($state:"open");
	}
}

.d2l-dialog-closing {
	@include _dialog-animation_slide-from-top($state:"close");

	@media #{$dialog-media-break-small} {
		@include _dialog-animation_slide-from-bottom($state:"close");
	}
}

.ddial_o,
.d2l-dialog {
	@media #{$dialog-media-break-small} {
		width: 100% !important;
		height: 100% !important;
		left: auto !important;
		padding: 0 !important;
		top: 0 !important;
		position: fixed !important;
	}
}


.ddial_o2,
.d2l-dialog-inner {
	background-color: $dialog-background-color;
	border: 1px solid $vui-color-titanius;
	border-radius: 0.4rem;
	box-shadow: 0 2px 12px rgba(86,90,92,0.25);
	padding: 1.5rem;
	box-sizing: border-box;
	height: 100% !important;

	@media #{$dialog-media-break-small} {
		border-radius: 0 !important;
		width: 100% !important;
		height: 100% !important;
		position: fixed;
	}

	> .d2l-dialog-frame {
		width: 100% !important;
	}
}

.d2l-dialog-buttons button {
	margin-top: 0.75rem;
}


.d2l-dialog-footer .d2l-dialog-resize {
	@media #{$dialog-media-break-small-iframe} {
		display: none !important;
	}
}

.d2l-dialog-close {
	border-top-right-radius: 0.3rem;
	height: calc(2rem + 2px);
	width: calc(2rem + 2px);

	[dir='rtl'] & {
		border-top-left-radius: 0.3rem;
	}

	& > span {
		width: 100%;
		height: 100%;
		display: block;
		background: {
			image: $dialog-close-icon;
			position: 100% 0;
			repeat: no-repeat;
		}

		[dir='rtl'] & {
			background-position: 0 0;
		}
	}
}


.d2l-dialog-document-body {
	background-color: transparent;
}

.d2l-dialog-flex {
	width: 100% !important;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: absolute;
	overflow: hidden !important;
}


.d2l-dialog-title {
	align-self: flex-start;
	width: 100%;
}

.d2l-dialog-flex > .d2l-dialog-footer,
.d2l-dialog-flex > .d2l-dialog-footer-container {
	align-self: flex-end;
	width: 100%;
}

.d2l-dialog-body {
	flex-grow: 2;
	height: auto !important;
}

.ddial_o .ddial_f {
	@media #{$dialog-media-break-small} {
		display: none !important;
	}
}
