@import 'node_modules/vui-colors/colors.scss';
@import 'node_modules/vui-typography/px-to-base-rem.scss';
@import '../bower_components/vui-loading-spinner/loadingSpinner.scss';

$dialog-media-break-small: "(max-device-width: 767px), screen and (max-width:767px)";
$dialog-media-break-small-iframe: "(max-device-width: 767px)";
$dialog-background-color: #fff;
$dialog-close-icon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEX///98fHy9vb02RwSKAAAAAXRSTlMAQObYZgAAADZJREFUCB0FwTENACAMALCOhAMDOMDHJOzkRAoiEEwLABC3pTgj2QvzoRfGwdp4k1b9iowEAHzpNgXTV0Ym1gAAAABJRU5ErkJggg==");

@mixin _dialog-animation_slide-from-top($state:"open"){

	animation: {
		duration: 0.3s;
		timing-function: linear;
		name: if($state=="open", dialog-slide-in-from-top-open, dialog-slide-in-from-top-close);
	}

	@if $state=="close" {
		top: -1000px;
	}

	@keyframes dialog-slide-in-from-top-open {
		from {
			opacity: 0;
			transform: translateY(-50px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@keyframes dialog-slide-in-from-top-close {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0;
			transform: translateY(-50px);
		}
	}
}

@mixin _dialog-animation_slide-from-bottom($state:"open"){

	animation: {
		duration: 0.3s;
		timing-function: linear;
		name: if($state=="open", dialog-slide-in-from-bottom-open, dialog-slide-in-from-bottom-close);
	}
	top: if($state=="open", 0, 100%);

	@keyframes dialog-slide-in-from-bottom-open {
		from { transform: translateY(100%); }
		to   { transform: translateY(0); }
	}
	@keyframes dialog-slide-in-from-bottom-close {
		from { transform: translateY(0); }
		to   { transform: translateY(100%); }
	}
}

.d2l-dialog {
	left: 100px;
	height: 300px;
	overflow: hidden;
	position: absolute;
	padding: 3px;
	width: 400px;
}

.ddial_o,
.d2l-dialog {
	@media #{$dialog-media-break-small} {
		width: 100% !important;
		height: 100% !important;
		left: auto !important;
		padding: 0 !important;
		top: 0 !important;
		position: fixed !important;
	}
}


.d2l-dialog-document-body {
	background-color: transparent;
	height: 100%;
}

.d2l-dialog-body {
	flex-grow: 2;
	height: auto !important;
	overflow: auto;
	position: relative;
}

.ddial_o .ddial_f {
	@media #{$dialog-media-break-small} {
		display: none !important;
	}
}

.d2l-dialog-flex {
	width: 100% !important;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: absolute;
	overflow: hidden !important;
}

.d2l-dialog-flex > .d2l-dialog-footer,
.d2l-dialog-flex > .d2l-dialog-footer-container {
	align-self: flex-end;
	width: 100%;
}

.ddial_o2,
.d2l-dialog-inner {
	background-color: $dialog-background-color;
	border: 1px solid $vui-color-titanius;
	border-radius: 0.4rem;
	box-shadow: 0 2px 12px rgba(86,90,92,0.25);
	padding: 1.5rem;
	box-sizing: border-box;
	height: 100% !important;

	@media #{$dialog-media-break-small} {
		border-radius: 0 !important;
		width: 100% !important;
		height: 100% !important;
		position: fixed;
	}

	> .d2l-dialog-frame {
		width: 100% !important;
	}
}

.d2l-dialog-title {
	align-self: flex-start;
	position: relative;
	width: 100%;
}

.d2l-dialog-title.d2l-dialog-title-noclose {
	padding-right: 10px;
}

[dir='rtl'] .d2l-dialog-title.d2l-dialog-title-noclose {
	padding-left: 10px;
}

.d2l-dialog-title .d2l-heading {
	word-wrap: break-word;
}

.d2l-dialog-frame {
	height: 100% !important;
	width: 398px;
}

.d2l-dialog-frame-loading {
	left: -10000px;
	visibility: hidden;
}

[dir='rtl'] .d2l-dialog-frame-loading {
	right: -10000px;
}

.d2l-dialog-padding {
	padding: 10px;
}

.d2l-dialog-footer {
	position: relative;
}

.d2l-dialog-footer-container {
	bottom:0;
	width:100%;
}

.d2l-dialog-footer .d2l-dialog-resize {
	@media #{$dialog-media-break-small-iframe} {
		display: none !important;
	}
}

.d2l-dialog-resize {
	background-image: url(/d2l/img/lp/dialog/resize.png);
	background-position: 100% 100%;
	background-repeat: no-repeat;
	bottom: 0;
	cursor: nw-resize;
	display: inline-block;
	height: 16px;
	position: absolute;
	right: 0;
	width: 16px;
}

[dir='rtl'] .d2l-dialog-resize {
	background-image: url(/d2l/img/lp/dialog/resize_rtl.png);
	background-position: 0 100%;
	cursor: ne-resize;
	left: 0;
	right: auto;
}

.d2l-dialog-resizehandle-hide .d2l-dialog-resize {
	display: none;
}

.d2l-dialog-buttons button {
	margin-top: 0.75rem;
}

.d2l-dialog-button-group {
	float: left;
	padding-right: 1.5em;
}

[dir='rtl'] .d2l-dialog-button-group {
	float: right;
	padding-left: 1.5em;
}

.d2l-dialog-loading {
	@include _dialog-animation_slide-from-top($state:"open");

	@media #{$dialog-media-break-small} {
		@include _dialog-animation_slide-from-bottom($state:"open");
	}
}

.d2l-dialog-loading-spinner {
	width: 100%;
	height: 100%;
}

.d2l-dialog-loading-spinner > .vui-loading-spinner {
	margin: 0 auto;
	top: 20%;
	display: block;
}

.d2l-dialog-closing {
	@include _dialog-animation_slide-from-top($state:"close");

	@media #{$dialog-media-break-small} {
		@include _dialog-animation_slide-from-bottom($state:"close");
	}
}

.d2l-dialog-close {
	border-top-right-radius: 0.3rem;
	display: block;
	height: calc(2rem + 2px);
	position: absolute;
	right: 0;
	top: 0;
	width: calc(2rem + 2px);

	[dir='rtl'] & {
		border-top-left-radius: 0.3rem;
	}

	&:hover,
	&:focus {
		background: #fdfdfd; /* Old browsers */
		background: -moz-linear-gradient(top, #fdfdfd 0%, #fafafa 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #fdfdfd 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #fdfdfd 0%,#fafafa 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #fdfdfd 0%,#fafafa 100%); /* IE10+ */
		background: linear-gradient(to bottom, #fdfdfd 0%,#fafafa 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
	}

	& > span {
		width: 100%;
		height: 100%;
		display: block;
		background: {
			image: $dialog-close-icon;
			position: 100% 0;
			repeat: no-repeat;
		}

		[dir='rtl'] & {
			background-position: 0 0;
		}
	}
}
