@import 'node_modules/vui-colors/colors.scss';
@import 'node_modules/vui-typography/px-to-base-rem.scss';
@import '../bower_components/vui-loading-spinner/loadingSpinner.scss';

$dialog-media-break-small: "(max-device-width: 767px), screen and (max-width:767px)";
$dialog-media-break-small-iframe: "(max-device-width: 767px)";
$dialog-background-color: #fff;
$dialog-close: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-5%207%2018%2018%22%3E%3Cpath%20fill%3D%22%2374787B%22%20d%3D%22M9.707%2020.29c.39.39.39%201.03%200%201.42-.2.19-.45.29-.71.29-.26%200-.51-.1-.71-.29l-4.288-4.289-4.288%204.289c-.2.19-.45.29-.71.29s-.51-.1-.71-.29c-.39-.39-.39-1.03%200-1.42l4.288-4.289-4.288-4.289c-.39-.39-.39-1.03%200-1.42.39-.39%201.03-.39%201.419%200l4.289%204.29%204.288-4.289c.39-.39%201.03-.39%201.419%200%20.39.39.39%201.03%200%201.42l-4.288%204.289%204.289%204.288z%22%2F%3E%3C%2Fsvg%3E");
$dialog-close-hover: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-5%207%2018%2018%22%3E%3Cpath%20fill%3D%22%231C5295%22%20d%3D%22M9.707%2020.29c.39.39.39%201.03%200%201.42-.2.19-.45.29-.71.29-.26%200-.51-.1-.71-.29l-4.288-4.289-4.288%204.289c-.2.19-.45.29-.71.29s-.51-.1-.71-.29c-.39-.39-.39-1.03%200-1.42l4.288-4.289-4.288-4.289c-.39-.39-.39-1.03%200-1.42.39-.39%201.03-.39%201.419%200l4.289%204.29%204.288-4.289c.39-.39%201.03-.39%201.419%200%20.39.39.39%201.03%200%201.42l-4.288%204.289%204.289%204.288z%22%2F%3E%3C%2Fsvg%3E");
$dialog-resize-rtl-hover: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%231C5295%22%20d%3D%22M2%2018a.999.999%200%200%200%20.707-1.707l-1-1a.999.999%200%201%200-1.414%201.414l1%201A.997.997%200%200%200%202%2018zM7.638%2018a.999.999%200%200%200%20.707-1.707L1.707%209.655a.999.999%200%201%200-1.414%201.414l6.638%206.638a.997.997%200%200%200%20.707.293zM13.478%2018a.999.999%200%200%200%20.707-1.707L1.707%203.816A.999.999%200%201%200%20.293%205.23l12.478%2012.477a.997.997%200%200%200%20.707.293z%22%2F%3E%3C%2Fsvg%3E");
$dialog-resize-rtl: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%2372777A%22%20d%3D%22M2%2018a.999.999%200%200%200%20.707-1.707l-1-1a.999.999%200%201%200-1.414%201.414l1%201A.997.997%200%200%200%202%2018zM7.638%2018a.999.999%200%200%200%20.707-1.707L1.707%209.655a.999.999%200%201%200-1.414%201.414l6.638%206.638a.997.997%200%200%200%20.707.293zM13.478%2018a.999.999%200%200%200%20.707-1.707L1.707%203.816A.999.999%200%201%200%20.293%205.23l12.478%2012.477a.997.997%200%200%200%20.707.293z%22%2F%3E%3C%2Fsvg%3E");
$dialog-resize-hover: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%231C5295%22%20d%3D%22M16%2018a.999.999%200%200%201-.707-1.707l1-1a.999.999%200%201%201%201.414%201.414l-1%201A.997.997%200%200%201%2016%2018zM10.362%2018a.999.999%200%200%201-.707-1.707l6.638-6.638a.999.999%200%201%201%201.414%201.414l-6.638%206.638a.997.997%200%200%201-.707.293zM4.522%2018a.999.999%200%200%201-.707-1.707L16.293%203.816a.999.999%200%201%201%201.414%201.414L5.229%2017.707a.997.997%200%200%201-.707.293z%22%2F%3E%3C%2Fsvg%3E");
$dialog-resize: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cpath%20fill%3D%22%2372777A%22%20d%3D%22M16%2018a.999.999%200%200%201-.707-1.707l1-1a.999.999%200%201%201%201.414%201.414l-1%201A.997.997%200%200%201%2016%2018zM10.362%2018a.999.999%200%200%201-.707-1.707l6.638-6.638a.999.999%200%201%201%201.414%201.414l-6.638%206.638a.997.997%200%200%201-.707.293zM4.522%2018a.999.999%200%200%201-.707-1.707L16.293%203.816a.999.999%200%201%201%201.414%201.414L5.229%2017.707a.997.997%200%200%201-.707.293z%22%2F%3E%3C%2Fsvg%3E");

@mixin _dialog-animation_slide-from-top($state:"open"){

	animation: {
		duration: 0.3s;
		timing-function: linear;
		name: if($state=="open", dialog-slide-in-from-top-open, dialog-slide-in-from-top-close);
	}

	@if $state=="close" {
		top: -1000px;
	}

	@keyframes dialog-slide-in-from-top-open {
		from {
			opacity: 0;
			transform: translateY(-50px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@keyframes dialog-slide-in-from-top-close {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0;
			transform: translateY(-50px);
		}
	}
}

@mixin _dialog-animation_slide-from-bottom($state:"open"){

	animation: {
		duration: 0.3s;
		timing-function: linear;
		name: if($state=="open", dialog-slide-in-from-bottom-open, dialog-slide-in-from-bottom-close);
	}
	top: if($state=="open", 0, 100%);

	@keyframes dialog-slide-in-from-bottom-open {
		from { transform: translateY(100%); }
		to   { transform: translateY(0); }
	}
	@keyframes dialog-slide-in-from-bottom-close {
		from { transform: translateY(0); }
		to   { transform: translateY(100%); }
	}
}

.d2l-dialog {
	left: 100px;
	height: 300px;
	overflow: hidden;
	position: absolute;
	padding: 3px;
	width: 400px;
}

.ddial_o,
.d2l-dialog {
	@media #{$dialog-media-break-small} {
		width: 100% !important;
		height: 100% !important;
		left: auto !important;
		padding: 0 !important;
		top: 0 !important;
		position: fixed !important;
	}
}


.d2l-dialog-document-body {
	background-color: transparent;
	height: 100%;
}

.d2l-dialog-body {
	flex-grow: 2;
	height: auto !important;
	overflow: auto;
	position: relative;
}

.ddial_o .ddial_f {
	@media #{$dialog-media-break-small} {
		display: none !important;
	}
}

.d2l-dialog-flex {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100% !important;
	position: absolute;
	overflow: hidden !important;
}

.d2l-dialog-flex > .d2l-dialog-footer,
.d2l-dialog-flex > .d2l-dialog-footer-container {
	align-self: flex-end;
	width: 100%;
}

.d2l-dialog-flex,
.d2l-dialog-inline > .d2l-dialog-inner,
.ddial_o2 {
	padding: 1.5rem;
}

.ddial_o2,
.d2l-dialog-inner {
	background-color: $dialog-background-color;
	border: 1px solid $vui-color-titanius;
	border-radius: 0.4rem;
	box-shadow: 0 2px 12px rgba(86,90,92,0.25);
	box-sizing: border-box;
	height: 100% !important;

	@media #{$dialog-media-break-small} {
		border-radius: 0 !important;
		width: 100% !important;
		height: 100% !important;
		position: fixed;
	}

	> .d2l-dialog-frame {
		width: 100% !important;
	}
}

.d2l-dialog-title {
	align-self: flex-start;
	position: relative;
	width: 100%;
	margin-right: -0.3rem;
}

.d2l-dialog-title .d2l-heading {
	word-wrap: break-word;
}

.d2l-dialog-frame {
	height: 100% !important;
	width: 398px;
}

.d2l-dialog-frame-loading {
	left: -10000px;
	visibility: hidden;
}

[dir='rtl'] .d2l-dialog-frame-loading {
	right: -10000px;
}

.d2l-dialog-footer {
	position: relative;
}

.d2l-dialog-footer-container {
	bottom:0;
	width:100%;
}

.d2l-dialog-footer .d2l-dialog-resize {
	@media #{$dialog-media-break-small-iframe} {
		display: none !important;
	}
}

.d2l-dialog-resize {
	background-image: $dialog-resize;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	bottom: 0;
	cursor: nw-resize;
	display: inline-block;
	height: 16px;
	position: absolute;
	right: 0;
	width: 16px;
}

.d2l-dialog-resize:hover {
	background-image: $dialog-resize-hover;
}

[dir='rtl'] .d2l-dialog-resize {
	background-image: $dialog-resize-rtl;
	background-position: 0 100%;
	cursor: ne-resize;
	left: 0;
	right: auto;
}

[dir='rtl'] .d2l-dialog-resize:hover {
	background-image: $dialog-resize-rtl-hover;
}

.d2l-dialog-resizehandle-hide .d2l-dialog-resize {
	display: none;
}

.d2l-dialog-buttons button {
	margin-top: 0.75rem;
}

.d2l-dialog-button-group {
	float: left;
	padding-right: 1.5em;
}

[dir='rtl'] .d2l-dialog-button-group {
	float: right;
	padding-left: 1.5em;
}

.d2l-dialog-loading {
	@include _dialog-animation_slide-from-top($state:"open");

	@media #{$dialog-media-break-small} {
		@include _dialog-animation_slide-from-bottom($state:"open");
	}
}

.d2l-dialog-loading-spinner {
	width: 100%;
	height: 100%;
}

.d2l-dialog-loading-spinner > .vui-loading-spinner {
	margin: 0 auto;
	top: 20%;
	display: block;
}

.d2l-dialog-closing {
	@include _dialog-animation_slide-from-top($state:"close");

	@media #{$dialog-media-break-small} {
		@include _dialog-animation_slide-from-bottom($state:"close");
	}
}

.d2l-dialog-close {

	border: 1px solid transparent;
	border-radius: 0.3rem;
	display: block;
	position: absolute;
	right: -0.3rem;
	top: 0;
	height: calc(1.3rem + 2px);
	width: calc(1.3rem + 2px);

	& > span {
		width: 100%;
		height: 100%;
		display: block;
		background: {
			image: $dialog-close;
			position: center center;
			repeat: no-repeat;
			size: 0.9rem 0.9rem;
		}

		[dir='rtl'] & {
			left: -0.3rem;
			right: auto;
			background-position: 0 0;
		}

	}

	&:hover {
		border-color: $vui-color-pressicus;
	}

	&:hover > span {
		background-image: $dialog-close-hover;
	}

}
