@import '../bower_components/vui-colors/colors.scss';

.d2l-filelink-link {
	& > .d2l-filelink-link-text {
		color: $vui-color-celestine;
		cursor: pointer;
		font-weight: normal;
		text-decoration: none;
	}
	&:hover > .d2l-filelink-link-text,
	&:focus > .d2l-filelink-link-text {
		color: $vui-color-celestuba;
		text-decoration: underline;
	}
}
