
.d2l-floating-container {
	border: solid 1px #cccccc;
	background-color: #ffffff;
	border-radius: 4px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.4);
}

.d2l-floating-container-close {
	margin: 5px;
	margin-left: -24px;
}

.d2l-floating-container-titlebar .d2l-heading {
	color: #666666;
	font-size: 1.3em;
	font-weight: bold;
	padding: 6px;
	margin-right: 24px;
}

[dir='rtl'] .d2l-floating-container-titlebar .d2l-heading {
	margin-right: 0;
	margin-left: 24px;
}
