@import '../bower_components/d2l-colors/d2l-colors.scss';

/* MVC Grid */
.d2l-grid-cell-sel {
	width: 0.65rem;
}
.d2l-grid-footer-wrapper {
	padding: 0.25rem;
}
.d2l-grid-loadmore-wrapper {
	width: 20em;
	margin: auto;
	padding: 0.25rem;
}

.d2l-grid-header-cell a,
.d2l-grid-header-cell a:visited,
.d2l-grid-header-cell a:hover {
	color: $d2l-color-ferrite;
	font-family: inherit;
	font-size: 0.7rem;
	font-weight: 400;
	line-height: 1rem;
	letter-spacing: 0.02rem;
	margin: 1rem 0 1rem 0;
	margin: 0;
}
.d2l-grid-header-cell a:hover {
	text-decoration: underline;
}
