@import '../bower_components/vui-table/table.scss';
@import '../bower_components/vui-colors/colors.scss';
@import '../bower_components/vui-typography/px-to-base-rem.scss';
@import '../bower_components/vui-typography/small-text.scss';

/* MVC Grid */
.d2l-grid-cell-sel {
	width: px-to-base-rem(13);
}
.d2l-grid-footer-wrapper {
	padding: px-to-base-rem(5);
}
.d2l-grid-loadmore-wrapper {
	width: 20em;
	margin: auto;
	padding: px-to-base-rem(5);
}

.d2l-grid-header-cell a,
.d2l-grid-header-cell a:visited {
	@include vui-typography-small-text();
	margin: 0;
}
.d2l-grid-header-cell a:hover {
	@include vui-typography-small-text();
	text-decoration: underline;
	margin: 0;
}

/* Legacy data grid is .yui-dt */
.yui-dt > table {
	@include vui-table();
	padding-bottom: px-to-base-rem(30);

	& .yui-dt-selected {
		@include vui-table-row-selected();
	}

	& > tbody.yui-dt-data > tr:last-child {
		& > :first-child {
			@include vui-table-bottom-border-radius($side:'left');
		}
		& > :last-child {
			@include vui-table-bottom-border-radius($side:'right');
		}
	}

	& > tbody.yui-dt-message > tr:last-child {
		& th,
		  td {
			border-bottom: 1px solid $vui-color-titanius;
		}

		& > :first-child {
			@include vui-table-bottom-border-radius($side:'left');
		}
		& > :last-child {
			@include vui-table-bottom-border-radius($side:'right');
		}
	}

	& > thead:only-child > :last-child {
		& > :first-child {
			@include vui-table-bottom-border-radius($side:'left');
		}
		& > :last-child {
			@include vui-table-bottom-border-radius($side:'right');
		}
	}

	& .yui-dt-asc .yui-dt-label {
		@include vui-table-column-sort($direction:'asc');
	}

	& .yui-dt-desc .yui-dt-label {
		@include vui-table-column-sort($direction:'desc');
	}
}

.d_dg_ac {
	padding: px-to-base-rem(10) px-to-base-rem(30);
}

.d_dg_ps {
	padding: px-to-base-rem(5);
}

/* Legacy Grid */
.d_g.d_gd,
.d_g.d_gl {
	padding-bottom: px-to-base-rem(30);

	& td.d_gact {
		padding: px-to-base-rem(10) px-to-base-rem(30);
	}


	& .d_lastRow td,
	  .d_lastRow th {
		border-bottom: 1px solid $vui-color-titanius;
	}

	& >:only-child {
		& > tr.d_gactr + tr.d_gh >:first-child,
		  > tr.fgskip + tr.d_gh >:first-child {
			@include vui-table-top-border-radius($side:'left');
		}

		& > tr.d_gactr + tr.d_gh >:last-child,
		  > tr.fgskip + tr.d_gh >:last-child {
			@include vui-table-top-border-radius($side:'right');
		}

		& > tr.d_gactr + tr.d_gh > th,
		  > tr.fgskip + tr.d_gh > th,
		  > tbody + tr.d_gh > th {
			border-top: 1px solid $vui-color-titanius;
		}

		& > .d_gh > th {
			@include vui-table-header-cell();
			white-space: nowrap;
		}

		& > tr.d_gs:not(.d_ggl2) {
			@include vui-table-row-selected($important:true);
		}

		& > tr:not(.d_gactr):not(.d_gh) {
			& > td,
			  > th {
				@include vui-table-cell();
			}
			& .d_g_treeNodeImage,
			  .d_g_l_r {
				padding: px-to-base-rem(10) px-to-base-rem(30) !important;
			}
		}
		& > tr:not(.d_gactr) > :first-child {
			border-left: 1px solid $vui-color-titanius;
		}
		[dir='rtl'] & > tr:not(.d_gactr) > :last-child {
			border-left: 1px solid $vui-color-titanius;
		}

		[dir='rtl'] & > tr:not(.d_gactr) > :first-child {
			border-left: none;
		}

		& > .d_lastRow:hover td,
		  > .d_lastRow:hover th,
		  > tr.d_gs.d_lastRow th,
		  > tr.d_gs.d_lastRow td {
			border-bottom-color: $vui-color-celestine-light-2;
		}

		& > .d_lastRow >:first-child,
		  > .D2LGridSummaryRow_Data >:first-child {
			@include vui-table-bottom-border-radius($side:'left');
		}
		& > .d_lastRow >:last-child,
		  > .D2LGridSummaryRow_Data >:last-child {
			@include vui-table-bottom-border-radius($side:'right');
		}

		& > tr:not(.d_ggl1):not(.d_ggl2):not(.d_gactr):not(.d_gh):not(.D2LGridSummaryRow_Data):hover {
			@include vui-table-row-selected($important:true);
		}

		& td.d_gd_sel {
			padding: px-to-base-rem(10) px-to-base-rem(30) !important;
		}

		& > tr.d_ggl2 {
			& td,
			  th {
				background-color:$vui-color-regolith;
			}
		}
		& > tr.d_ggl2 > :first-child {
			padding: px-to-base-rem(10) px-to-base-rem(30) !important;
		}

		& .d_grid_sort_asc {
			@include vui-table-column-sort($direction:'asc');
		}

		& .d_grid_sort_desc {
			@include vui-table-column-sort($direction:'desc');
		}
	}
}