@import '../bower_components/vui-link/link.scss';
@import '../bower_components/vui-focus/focus.scss';

.d2l-htmlblock {
	& a,
	& a:visited {
		color: $vui-link-color;
		text-decoration: $vui-link-textDecoration;
	}
	& a:hover,
	& a:focus {
		color: $vui-link-color-focus;
		text-decoration: $vui-link-textDecoration-focus;
	}
	& a:focus {
		@include vui-focus-outline;
	}
}
