@import '../bower_components/vui-colors/colors.scss';

.d2l-htmlblock {
	& a,
	& a:visited {
		color: $vui-color-celestine;
		cursor: pointer;
		font-weight: normal;
		text-decoration: none;
	}
	& a:hover,
	& a:focus {
		color: $vui-color-celestuba;
		text-decoration: underline;
	}
}
