@import '../bower_components/vui-typography/px-to-base-rem.scss';
@import '../bower_components/vui-colors/colors.scss';

ul.ddl_sc li:hover,
ul.ddl_fc li:hover {
	background-color: $vui-color-celestine-light-1;
}

.ddl_li_m {
	padding: 0 px-to-base-rem(10) 0 0;
}

[dir='rtl'] .ddl_li_m {
	padding: 0 0 0 px-to-base-rem(10);
}

.datalist-item-selected {
	background-color: $vui-color-celestine-light-1;
}