@import 'node_modules/vui-colors/colors.scss';

.d2l-twopanelselector-header {
	padding: 11px 10px 0 10px;
}

.d2l-twopanelselector-header .d2l-page-header {
	padding: 0 10px;
}

.d2l-twopanelselector-side {
	max-width: 20.5rem;
	width: 20.5rem;
}

.d2l-twopanelselector-side.d2l-twopanelselector-side-sep,
.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep {
	border-right: 1px solid #BBBBBB;
	[dir='rtl'] & {
		border-left: 1px solid #BBBBBB;
		border-right: none;
	}
}

.d2l-twopanelselector-side-bg {
	position: absolute;
	height: 100%;
	left: 0;
	width: 20.5em;
	[dir='rtl'] & {
		right:0;
	}
}

.d2l-twopanelselector-side-padding,
.d2l-twopanelselector-main-padding {
	padding: 0 30px 30px 30px;
}

.d2l-twopanelselector-side-padding-none {
	padding-left: 10px;
	[dir='rtl'] & {
		padding-right: 10px;
		padding-left: 0;
	}
}

.d2l-twopanelselector-side .d2l-page-search {
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
	padding: 0 30px;
}

.d2l-twopanelselector-padding {
	padding-top: 30px;
}

.d2l-twopanelselector-wrapper {
	background-color: $vui-color-regolith;
}
