@import '../bower_components/d2l-colors/d2l-colors.scss';

.d2l-twopanelselector-header {
	padding: 11px 10px 0 10px;
}

.d2l-twopanelselector-header .d2l-page-header {
	padding: 0 10px;
}

.d2l-twopanelselector-side {
	max-width: 400px;
	width: 400px;
}

.d2l-twopanelselector-side.d2l-twopanelselector-side-sep,
.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep {
	border-right: 1px solid $d2l-color-gypsum;
	background: linear-gradient(to right, rgba(249,250,251,0) 0%, $d2l-color-regolith 400px);

	[dir='rtl'] & {
		background: linear-gradient(to left, rgba(249,250,251,0) 0%, $d2l-color-regolith 400px);
		border-left: 1px solid $d2l-color-gypsum;
		border-right: none;
	}
}

.d2l-twopanelselector-side-bg {
	position: absolute;
	height: 100%;
	left: 0;
	width: 400px;
	[dir='rtl'] & {
		right:0;
	}
}

.d2l-twopanelselector-side-padding,
.d2l-twopanelselector-main-padding {
	padding: 0 30px 30px 30px;
}

.d2l-twopanelselector-side-padding-none {
	padding-left: 10px;
	[dir='rtl'] & {
		padding-right: 10px;
		padding-left: 0;
	}
}

.d2l-twopanelselector-side .d2l-page-search {
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
	padding: 0 30px;
}

.d2l-twopanelselector-padding {
	padding-top: 30px;
}

.d2l-twopanelselector-wrapper.d2l-repsonsive-collapse-layout #D2L_LE_Content_Dashboard_Collapsed_Separator {
	position: fixed;
	top: 0;
}

@media(max-width: 1000px) {
	.d2l-twopanelselector-wrapper.d2l-repsonsive-collapse-layout {
		.d2l-twopanelselector-side {
			display: block;
			max-width: none;
			width: auto;
			&.d2l-twopanelselector-side-sep {
				background-color: $d2l-color-regolith;
			}
		}
		.d2l-twopanelselector-main {
			display: block;
			min-height: 100vh;
		}
	}

	.d2l-twopanelselector-side-bg.d2l-repsonsive-collapse-layout {
		display: none;
	}

	.d2l-twopanelselector-wrapper.d2l-repsonsive-collapse-layout #D2L_LE_Content_Dashboard_Collapsed_Separator {
		position: static;
	}

	.d2l-twopanelselector-side-padding {
		padding-bottom: 0;
	}
}
