@import '../bower_components/d2l-colors/d2l-colors.scss';

$d2l-twopanelselector-width: 320px;

.d2l-twopanelselector-header {
	padding: 11px 10px 0 10px;
}

.d2l-twopanelselector-header .d2l-page-header {
	padding: 0 10px;
}

.d2l-twopanelselector-side {
	max-width: $d2l-twopanelselector-width;
	width: $d2l-twopanelselector-width;
}

.d2l-twopanelselector-side.d2l-twopanelselector-side-sep,
.d2l-twopanelselector-side-bg.d2l-twopanelselector-side-sep {
	border-right: 1px solid $d2l-color-gypsum;
	background: linear-gradient(to right, rgba(249,250,251,0) 0%, $d2l-color-regolith $d2l-twopanelselector-width);

	[dir='rtl'] & {
		background: linear-gradient(to left, rgba(249,250,251,0) 0%, $d2l-color-regolith $d2l-twopanelselector-width);
		border-left: 1px solid $d2l-color-gypsum;
		border-right: none;
	}
}

.d2l-twopanelselector-side-bg {
	position: absolute;
	height: 100%;
	left: 0;
	width: $d2l-twopanelselector-width;
	[dir='rtl'] & {
		right:0;
	}
}

.d2l-twopanelselector-side-padding,
.d2l-twopanelselector-main-padding {
	padding: 0 30px 30px 30px;
}

.d2l-twopanelselector-side-padding-none {
	padding-left: 10px;
	[dir='rtl'] & {
		padding-right: 10px;
		padding-left: 0;
	}
}

.d2l-twopanelselector-side .d2l-page-search {
	margin-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
	padding: 0 30px;
}

.d2l-twopanelselector-padding {
	padding-top: 30px;
}

.d2l-repsonsive-collapse-layout .d2l-twopanelselector-side,
.d2l-repsonsive-collapse-layout.d2l-twopanelselector-side-bg {
    max-width: 320px;
    width: 320px;
}

@media(max-width: 1000px) {
	.d2l-twopanelselector-wrapper.d2l-repsonsive-collapse-layout {
		.d2l-twopanelselector-side {
			display: block;
			max-width: none;
			width: auto;
			&.d2l-twopanelselector-side-sep {
				background-color: $d2l-color-regolith;
			}
		}

		.d2l-twopanelselector-main {
			display: block;
			min-height: 100vh;

			.d2l-page-header {
				border-top: 1px solid $d2l-color-titanius;
				margin-top: 1.5rem;
				padding-top: 1.5rem;
			}
		}

		.d2l-twopanelselector-side-padding,
		.d2l-twopanelselector-main-padding,
		.d2l-twopanelselector-side .d2l-page-search {
			padding-left: 2.439%;
			padding-right: 2.439%;
		}

		.d2l-twopanelselector-side-padding {
			padding-bottom: 0;
		}

		.d2l-twopanelselector-padding {
			padding-top: 15px;
		}

		.d2l-twopanelselector-side .d2l-page-search {
			padding-bottom: 15px;
			margin-bottom: 0;
		}

	}

	.d2l-twopanelselector-side-bg.d2l-repsonsive-collapse-layout {
		display: none;
	}
}

@media(max-width: 615px) {
	.d2l-twopanelselector-wrapper.d2l-repsonsive-collapse-layout {
		.d2l-twopanelselector-side-padding,
		.d2l-twopanelselector-main-padding,
		.d2l-twopanelselector-side .d2l-page-search {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
