@import 'bower_components/vui-colors/colors.scss';

#d2l_body,
.d2l-body {
	line-height: 1.5em;
	margin: 0;
	overflow-y: scroll;
	padding: 0;
}

.d2l-page-bg {
	max-width: 1230px;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 50%;
	z-index: -100;
	[dir='rtl'] & {
		right: 50%;
		left: auto;
	}
}

.d2l-page-bg > div {
	position: relative;
	margin-left: -50%;
	width: 100%;
	height: 100%;
	[dir='rtl'] & {
		margin-left: auto;
		margin-right: -50%;
	}
}

#d2l_body,
.d2l-body,
.d2l-page-main,
.d2l-page-bg > div,
.d2l-page-bg-full > div /* legacy full screen */ {
	background-color: $vui-color-regolith;
}

.d2l-max-width {
	margin: 0 auto;
	max-width: 1230px;
}
.d2l-min-width {
	min-width: 620px;
}

.d2l-page-main-padding {
	padding: 10px 1.5rem;
}
