@import '../bower_components/d2l-colors/d2l-colors.scss';

.d2l-text-imagelink {
	& > .d2l-text-imagelink-text {
		color: $d2l-color-celestine;
		cursor: pointer;
		font-weight: normal;
		text-decoration: none;
	}
	&:hover > .d2l-text-imagelink-text,
	&:focus > .d2l-text-imagelink-text {
		color: $d2l-color-celestuba;
		text-decoration: underline;
	}
}
