@import 'node_modules/vui-colors/colors.scss';

.d2l-text-imagelink {
	& > .d2l-text-imagelink-text {
		color: $vui-color-celestine;
		cursor: pointer;
		font-weight: normal;
		text-decoration: none;
	}
	&:hover > .d2l-text-imagelink-text,
	&:focus > .d2l-text-imagelink-text {
		color: $vui-color-celestuba;
		text-decoration: underline;
	}
}
